<title>Go<span>R</span>obo</title>
<h1>login</h1>
<form action="/login" method="post">
<label for="username">builder name </label><input type="text" name="user_name" id="user_name"><label for="password"> password </label><input type="password" name="password" id="password">
<button type="submit" name="submit" value="submit" id="submit">login</button>
</form>
<br>
<p>or 
<script>function visitPage(){window.location='/signup';}</script>
<button onclick="visitPage();">signup</button>
</p>

