<h1>Become a Builder</h1>
<link rel="stylesheet" href="/stylesheets/signup_sheet.css"/>
<form action="/signup" method="post"><br>
<label for="name">your name </label><input type="text" name="name" id="name"><br>
<label for="user_name">Builder Name </label><input type="text" name="user_name" id="user_name"><br>
<label for="email">email </label><input type="text" name="email" id="email"><br>
<label for="password">password </label><input type="password" name="password" id="password"><br>
<label for="password">retype password </label><input type="password" name="password_conformation" id="password"><br>
<label for="submit"></label><input type="submit" name="submit" value="submit" id="submit">
</form>
