<script>function createBot(){window.location='/bots/new';}</script>
<button onclick="createBot();">build new bot</button>
<br>
<script>function myBots(){window.location='';}</script>
<button onclick="myBots();">signup</button>
<br>
<script>function botShop(){window.location='';}</script>
<button onclick="botShop();">signup</button>
<br>