<h1>Lets build</h1>
<link rel="stylesheet" href="/stylesheets/signup_sheet.css">
<form action="/bots" method="post"><br>
<label for="name">bot name </label><input type="text" name="name" id="name"><br>
<label for="group">group type of your bot </label><input type="text" name="group" id="group"><br>
<label for="tasks">what are your bots operations </label><input type="text" name="tasks" id="tasks"><br>
<label for="skill_level">recommend skill level of bot </label><input type="text" name="skill_level" id="skill_level"><br>
<label for="cost">cost of supplies </label><input type="text" name="cost" id="cost"><br>
<label for="instructions">How to build bot </label><input type="text" name="instructions" id="instructions"><br>
<input type="submit" id="submit">
</form>

