<p>
<script>function visitlogin(){window.location='/login';}</script>
<button onclick="visitlogin();">login</button>
</p>
<p>
<script>function visitPage(){window.location='/signup';}</script>
<button onclick="visitPage();">signup</button>
</p>